/* .confirm-wrapper {
    border-radius: 2px;
    padding: 64px 32px 56px 32px;
    width: 539px;

    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.email-accent {
    font-weight: 700;
}
.verification-input {
    margin-bottom: 16px;
}
.verification-character {
    border: 1px solid var(--character-light-border);
    border-radius: 2px;
    padding: 5px 12px;
    width: 40px;
    height: 40px;

    background: var(--character-light-primary-inverse);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);
}
.verification-character.error {
    border: 1px solid var(--character-light-error);
}
.confirm-text__wrapper {
    margin: 24px 24px;
    display: flex;
    flex-direction: column;
} */
