.exit {
    padding: 0px 16px;
    height: 40px;

    display: flex;
    align-items: center;

    cursor: pointer;

    box-shadow: inset 0 1px 0 0 var(--character-light-dividers);
    background: var(--character-light-primary-inverse);
}
.exit-icon {
    width: 16px;
    height: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.exit-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);

    margin-left: 10px;
    transition: 0.2s;

    border-radius: 2px;
    padding: 4px 15px;

    transform: scaleX(1);
    transform-origin: left;
}
.exit.collapsed .exit-title {
    transform: scaleX(0);
}
@media (max-width: 805px) {
    .exit-icon {
        display: none;
    }
    .exit-title {
        margin-left: 0px;
    }
}
