.loader.show {
    display: block;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    z-index: 10;

    background: url(../assets/svgs/background_light.svg);
    backdrop-filter: blur(6px);
}
.loader {
    display: none;
}
.loader-element {
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 11;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
}

