.categoryItem {
    transition: 0.2s;
}

.box {
    width: 1px;
    height: 24px;
    background: #c4ff61;
}

.text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}

.categoryItem:hover {
    background: #ffffd3;
}

.categoryItem:hover .box {
    background: none;
}
