.form-result {
    border-radius: 2px;
    padding: 64px 32px;
    width: 539px;
    height: 363px;

    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 69px 85.5px;
}
.result-text__wrapper {
    margin: 24px 24px;
    display: flex;
    flex-direction: column;
}
.result-text__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);
}
.result-text__main {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-secondary-45);
}
.result-btn {
    border: 1px solid var(--primary-light-6);
    border-radius: 2px;
    padding: 8px 15px;
    width: 368px;
    height: 40px;

    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: var(--primary-light-6);
}
@media (max-width: 805px) {

}
