.form-result {
    border-radius: 2px;
    padding: 64px 32px;
    width: 539px;
    min-height: 345px;

    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 102;
}
.result-icon {
    margin-top: 8px;
}
.result-text__wrapper {
    margin: 31px 24px 23px;
    display: flex;
    flex-direction: column;
}
.result-text__title {
    font-family: var(--font-family);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-24);
    line-height: var(--line-height);
    text-align: center;
    color: var(--character-light-title-85);
}
.result-text__main {
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-14);
    line-height: var(--line-height);
    text-align: center;
    color: var(--character-light-secondary-45);
}
.result-text__main.custom12 {
    padding: 0px 48px;
}
.result-btn {
    border: 1px solid var(--primary-light-6);
    border-radius: 2px;
    padding: 8px 15px;
    width: 368px;
    height: 40px;

    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: var(--primary-light-6);
}
.result-btn.custom11 {
    width: 167px;
}
.result-btn.custom13 {
    width: 74px;
}
.btns-modal-wrapper {
    width: 100%;
    display: flex;
    gap: 8px;
}
@media (max-width: 805px) {
    .form-result {
        padding: 32px 16px;
        width: 328px;
        min-height: 281px;
    }
    .result-text__wrapper {
        margin: 31px 0px 22px;
    }
    .result-btn {
        width: 296px;
    }
    .result-text__main.custom10 {
        padding: 0px 10px;
    }
    .result-text__main.custom12 {
        padding: 0px 32px;
    }
    .result-text__title.custom18 {
        padding: 0px 32px;
    }
}
