.feedback-item {
    width: 100%;
}
.feedback-item .ant-card-body{
    display: flex;
    gap: 12px;
}
.item-user {
    width: 174px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.item-user-name {
    text-align: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-16);
    line-height: var(--line-height);
    color: var(--character-light-title-85);
}
.item-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.item-body-rating {
    display: flex;
    align-items: center;
    gap: 16px;
}
.item-body-date {
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
    font-size: 12px;
    line-height: var(--line-height);
    text-align: right;
    color: var(--character-light-disable-25);
}
.item-body-message {
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-14);
    line-height: var(--line-height);
    color: var(--character-light-secondary-45);
    word-break: break-all;
}
