.logo {
    display: flex;
    align-items: flex-end;
    margin-left: 29px;
    transition: 0.2s;
    padding: 17px 0;
    width: 208px;
}
.logo.collapse {
    margin-left: 18px;
    width: 64px;
}
.logo-clever {
    width: 98px;
    height: 24px;

    transition: 0.2s;
    transform: scaleX(1);
}
.logo-fit {
    width: 34px;
    height: 30px;
    background: transparent url(/public/fit.svg) center center no-repeat;
}
.logo.collapse .logo-clever{
    width: 0px;
    transform: scaleX(0);
}
