.ant-layout {
    background: transparent url(/public/Main_page_light.png) center / cover no-repeat;
}
.site-layout {
    padding: 0px 0px 42px 0px;
}
.ant-layout-sider {
    background: var(--character-light-primary-inverse);
  }
.ant-layout-header {
  background: var(--primary-light-1);
}
.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
}
.sider-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
    margin-bottom: 16px;
 }
