.auth-page {
    width: 100vw;
    height: 100vh;
    background: transparent url(/public/Enter_page_light.png) center/ cover no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
}
.cover-element {
    position: fixed;
    z-index: 101;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: transparent url(../../components/assets/svgs/background_light.svg) center/ cover no-repeat;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-main {
    border-radius: 2px;
    padding: 64px 32px;
    width: 539px;
    height: 742px;

    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 64px 85.5px 0px;
}
.form-logo {
    width: 309px;
    height: 76px;
    background: transparent url(../../components/assets/svgs/logo_full.svg) center/ cover no-repeat;
    margin-bottom: 48px;
}
.form-nav-btns {
    width: 100%;

    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.form-nav-btn {
    width: 50%;
    height: 46px;

    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-16);
    line-height: var(--line-height);
    color: var(--character-light-title-85);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    border-bottom: 1px solid var(--character-light-dividers);
}
.form-nav-btn.active {
    color: var(--primary-light-6);

    border-bottom: 2px solid var(--primary-light-6);
}
.class109 {
    display: flex;
    flex-direction: column;
    gap: var(--gap8);
    margin-bottom: 27px;
}
.class110 {
    width: 368px;
    height: 40px;
}
.class110 * {
    height: 100%;
}
.class111 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 19px;
}
.class112 {
    display: flex;
    flex-direction: column;
    gap: var(--gap16);
}
.class113 {
    margin-top: 2px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
    font-size: 12.7px;
    line-height: var(--line-height);
    color: var(--character-light-secondary-45);
}
.class113.red {
    color: var(--character-light-error);
}
.login-form-button {
    height: 40px;
}
.ant-input-group-addon {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-14);
    line-height: var(--line-height);
}
.ant-form-item-explain-error {
    font-weight: var(--font-weight-400);
    font-size: 12px;
    line-height: var(--line-height);
}
.login-form-forgot {
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-16);
    line-height: var(--line-height);
    text-align: center;
    color: var(--primary-light-6);
    padding: 0px;
}
@media (max-width: 805px) {
    .form-main {
        padding: 32px 16px;
        width: 328px;
        height: 612px;
    }
    .form-logo {
        width: 203px;
        height: 50px;
        margin-bottom: 32px;
    }
    .form-nav-btn {
        font-size: var(--font-size-14);
    }
    .class109 {
        margin-bottom: 24px;
    }
    .class110 {
        width: 296px;
    }
    .class111 {
        margin-bottom: 16px;
    }
}
