.menu {
    width: 279px;
    display: flex;
    flex-direction: column;

    position: static;
}
.menu-item {
    margin-bottom: 42px;
    width: 255px;
}
.menu-all-books {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-all-books.active {
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    border-bottom: 1px solid #F83600;
}
.menu-all-books .menu-main-item.active {
    border-bottom: none;
}
.menu-arrow {
    height: 24px;
    width: 24px;

    background: transparent url(/src/assets/menu/menu_arrow.svg) center center no-repeat;
}
.menu-all-books.active .menu-arrow {
    background: transparent url(/src/assets/menu/menu_arrow-active.svg) center center no-repeat;
}
.menu-arrow.close {
    transform: rotate(180deg);
}
.menu-main-item {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #363636;

    width: 255px;
    height: 36px;

    display: flex;
    align-items: center;

    cursor: pointer;
}
.menu-main__line {
    width: 255px;
    height: 0px;

    border: 1px solid #BFC4C9;

    margin-top: 52px;
    margin-bottom: 32px;
}
.menu-main-item.active {
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-bottom: 1px solid #F83600;
}
.book-category-list {
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 16px;
}
.book-category-list.hidden {
    display: none;
}
.book-category {
    height: 25px;
    display: flex;
    align-items: center;
}
.book-category.active > .book-category-name {
    margin-left: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.book-category-name {
    margin-left: 4px;
    margin-right: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #363636;
}
.book-category-count {
    margin-left: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #A7A7A7;
}

.header__logo .menu-burger {
    display: block;
    position: absolute;
    top: 40px;
    left: -1000px;

    width: 502px;
    /* max-height: 90vh; */
    /* max-height: 100vh; */
    /* overflow-y: auto; */
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */

    padding: 32px 32px 52px 32px;

    background: #F9F9FA;
    z-index: 2;
}
.header__logo .menu-burger.show {
    left: 0px;
}
.header__logo .menu {
    position: absolute;
    left: -1000px;
}
.menu.close {
    display: none;
}

@media (max-width: 1200px) {
    .menu {
        display: none;
    }
    .header__logo .menu {
        display: block;
        position: absolute;
        top: 40px;
        left: -1000px;

        width: 502px;
        max-height: 90vh;
        /* overflow-y: auto; */

        padding: 32px 32px 52px 32px;

        background: #F9F9FA;
        z-index: 2;
    }
    .header__logo .menu.close {
        left: -1000px;
    }
}
@media (max-width: 700px) {
    .header__logo .menu-burger {
        display: block;
        position: absolute;
        top: 40px;

        width: 288px;
        padding: 32px 16px 52px 16px;

        background: #F9F9FA;
        z-index: 2;

        /* overflow-x: hidden; */
    }
}
