.textLight {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: rgba(0, 0, 0, 0.24);
}

.text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 85%;
    color: rgba(0, 0, 0, 0.64);

    white-space: pre-line;
}
